// ===================================================================================================================
// Colors
// ===================================================================================================================
$root-color= #191919
$span-color= #666666
$link-color= #009b72
$link-color-hover= #009b72
$input-color= #cccccc
$input-color-hover= lighten($input-color, 8)
$input-color-checkmark= #009b72
$input-color-checked= lighten($input-color-checkmark, 60)
$color-checkmark-hover= desaturate(lighten($input-color-checkmark, 30), 60)




// ===================================================================================================================
// Fonts
// ===================================================================================================================
$font-size-base= 16px


// Headings
$font-size-h1= 1.5rem
$font-size-h2= 1.375rem
