html
	font-family "Roboto", sans-serif

body
	font-size $font-size-base
	color $root-color
	line-height 1.375




// ===================================================================================================================
// Headings
// ===================================================================================================================

h1
h2
	font-weight bold
	margin 0

h1
	font-size $font-size-h1
	line-height 0.875rem
	margin-bottom 2.875rem

h2
	margin 2em 0 1rem 0
	font-size $font-size-h2
	line-height 1em




// ===================================================================================================================
// Paragraph
// ===================================================================================================================

p
	padding 0
	margin 0 0 1rem 0
